<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit tab</title>
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<script type="application/javascript" th:inline="javascript">
    var imgFilename = '/file/' + [[${page.imgFilename}]];
</script>

<div class="container">
    <div class="card">
        <div class="card-header">
            Новая страница
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form id="pageForm" action="/page/" method="post">
                        <input type="hidden" name="id" th:value="${page.id}"/>
                        <div class="form-group">
                            <label style="display: block"> Ссылка:
                                <input id="urlInput" class="form-control" type="text" name="url"
                                       th:value="${page.url}"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="display: block"> Отображаемое имя:
                                <input class="form-control" type="text" name="title"
                                       th:value="${page.title}"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="groupLabel"> Группа:
                                <select id="groupSelect" name="groupId">
                                    <option th:each="group:${groups}"
                                            th:value="${group.id}"
                                            th:text="${group.name}"
                                            th:selected="${group.id}==${page.group.id}">
                                    </option>
                                </select>
                            </label>
                            <input class="btn btn-light" id="newGroupBtn" type="button" value="Новая группа"
                                   onclick="newGroup()"/>
                            <label id="newGroupLabel" style="display: none">
                                Имя новой группы:
                                <input id="newGroupInput" class="form-control" type="text" name="groupName"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <input id="submitForm" class="btn btn-success" type="submit" disabled="disabled"/>
                        </div>

                        <input type="hidden" name="imgFilename" th:value="${page}!=null?${page.imgFilename}:null"/>
                        <input id="imgUrlInput" type="hidden" name="imgUrl"/>
                    </form>
                </div>

                <div class="col">
                    Миниатюра:
                    <div id="images" class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" src="/js/edit-page.js"></script>
</body>
</html>
